@import "variables/variables";

*{ 
    padding: 0;
    margin: 0;
}
#grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1000px 300px;
    grid-template-areas: "header"
                         "main"
                         "footer";
    justify-content: center;
    align-content: center;
}
#section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#text-img1{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    font-size: 20px;
}
body{
    font-family: $tipografia;
    margin: 0;
}
header{
    background-color: #899B9F;
    grid-area: header;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.imglogo{
    height: 50px;
    margin-right: 10px;
}
h1{
    color: #F2F2F2;
    text-align: center; 
}

ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
a{
    font-size: 20px;
    color: #F2F2F2;
    text-decoration: none;
    padding-right: 10px;
}
a:hover, .social-icon:hover, .menu-item:hover{
    color:aqua;
    opacity: 1;
}
#lista-inicio{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type:circle;
    color: #F2F2F2;
    font-size: 20px;
}
#lista-quienes{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type:circle;

}

main{
    background-color: #899B9F;
    grid-area: main;
}
footer{
    width: 100%;
    background-color: #0D0D0D;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-footer{
    height: 80px;
    margin-bottom: 15px;
}
.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid $color_caja;
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 10px;
}
.social-icon:nth-last-of-type(2){
    background-image: url(../img/Instagram.png);
}
.social-icon:nth-last-of-type(3){
    background-image: url(../img/whatsapp.png);
}
.footer-menu-container{
    list-style-type: none;
    color: $color_caja;
    font-size: 18px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.copyright{
    color: $color_caja;
    opacity: 0.3;
    text-align: center;
}
p{ 
    line-height: 1.5em;
    text-align: justify;
    white-space: pre-line;
    color: $color_letra;
    font-size: 15px;
}

h2{
    color: #F2F2F2;
    font-size: 40px;
    text-align: center;
}
button{
    background-color: #899B9F;
    color: #F2F2F2;
    font-size: 20px;
}
table{
    text-align: center;
    background-color: rgb(73, 124, 168);
    color: #F2F2F2;
    background-position: center;
    height: 200px;
    width: 800px;   
}
#tabla-quienes{
    background-color:rgb(68, 136, 240);
}
#gri-serv{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:250px;
    grid-template-areas: "t1"
                         "t2";
    justify-items: center;
    align-items: center; 
}
.tema-serv{
    grid-area: t1;
    background-color: #899B9F;
}
.tabla-1{
    grid-area: t2;
    width: 800px;
}
.tabla-serv{
    width: 100%;
    height: 450px;
}

b{
    font-size: 25px;
    color: $color_letra;
}
#parrafo-dos-quienes{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:#899B9F;
    color: #F2F2F2;
    text-align: justify;
    align-items: center;
    font-size: 18px;
}
#inicio-1 {
    height: 200px;
    width: 100%;
    position: relative;
    top: 50%;
    left: 10%;
}
#inicio-2 {
    height: 200px;
    width: 100%;
    position: relative;
    top: 50%;
    right: 20%;
}
.blog-section{
    border: 1px solid $color_borde_caja;
    background: $color_caja;
    padding: 20px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}
.caja-blog{
    border: 1px solid $color_borde_caja;
    background-color: $color_caja;
    color: $color_letra;
    height: 20%;
    width: 350px;
    line-height: 30px;
    font-family: $tipografia;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}
.img{
    max-width: 100%;
    height: auto;
}
form{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 1em;
    background-color: #899B9F;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
/*para telefonos*/
@media only screen and (max-width:700px){
    #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 290px 1000px 300px;
        grid-template-areas: "header"
                             "main"
                             "footer";
        justify-content: center;
        align-content: center;
    }
    header{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    align-items:center;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
    }
    #section-1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #section-2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .tabla-1{
        grid-area: t2;
        width: 100%;
    }
    .tabla-serv{
        width: 100%;
        height: 450px;
    }
    #blog-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .caja-blog{
        height: 15%;
        width: 90%;
    
    }
    
}